// Set up a decent box model on the root element
html {
  box-sizing: border-box;
}

body {
  background-color: rgba(119, 247, 240, 0.2);
  font-family: $font-type;
  line-height: $default-line-height;
  margin: $default-margin / 2;

  @include md {
    margin: $default-margin;
  }
}
