/*
  tajawal-regular - latin
  https://google-webfonts-helper.herokuapp.com../fonts/tajawal?subsets=latin

  src types (in order)

  IE9 Compat Modes
  local copy
  IE6-IE8
  Super Modern Browsers
  Modern Browsers
  Safari, Android, iOS
  Legacy iOS
*/

@font-face {
  font-display: optional; //  Google recommends font-display: optional: https://web.dev/preload-optional-fonts/
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/tajawal-v3-latin-regular.eot');
  src: local('Tajawal'), local('Tajawal-Regular'),
    url('../fonts/tajawal-v3-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/tajawal-v3-latin-regular.woff2') format('woff2'),
    url('../fonts/tajawal-v3-latin-regular.woff') format('woff'),
    url('../fonts/tajawal-v3-latin-regular.ttf') format('truetype'),
    url('../fonts/tajawal-v3-latin-regular.svg#Tajawal') format('svg');
}
