/*
  This file tests Next-Gen CSS using postcss-preset-env
  This includes tests for autoprefixer (included with postcss-preset-env)
  Test code modified from https://preset-env.cssdb.org/playground
*/
@custom-media --viewport-medium (width <= 767px);
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

@media (--viewport-medium) {
  :root {
    --mainColor: #f5f5dc;
    --secondaryColor: lab(32.5 38.5 -47.6 / 90%);
  }

  html {
    overflow: hidden auto;
  }

  body {
    background: linear-gradient(to bottom, #808080, #000);
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    background-repeat: no-repeat;
    color: var(--mainColor);
  }

  :--heading {
    font-weight: bold;
  }

  a {
    /*
      NOTE: This comment is applicable only if you are using Node Sass.
      Why not use the regular lowercase 'rgb' syntax?
      rgb and rgba functions via node-sass misinterpret CSS variables as a single value instead of their output
      https://github.com/sass/node-sass/issues/2251
      Using lowercase 'rgb' is recognized by css
      https://twitter.com/anatudor/status/963758591529365504
    */
    background-color: unset;
    color: rgb(0 0 100% / 90%);

    &:hover {
      color: #639;
    }
  }
}
